/** Couleurs générales du thème */

:root {
	--couleurTheme : rgb(87,156,135); /* background-color header and footer */
	--couleurTheme2 : rgb(253,203,70); /* police header and footer */
}

@font-face { /* police header */
    font-family: 'robotoregular';
    src: url('../polices/Roboto-Regular-webfont.eot');
    src: url('../polices/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../polices/Roboto-Regular-webfont.woff') format('woff'),
         url('../polices/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../polices/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face { /* police footer */
    font-family: 'montserrat';
    src: url('../polices/montserrat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face { /* police menu 1*/
    font-family: 'devonshire';
    src: url('../polices/devonshire-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face { /* police menu 1*/
    font-family: 'KGPrimary';
    src: url('../polices/KGPrimaryItalics.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face { /* police menu 2*/
    font-family: 'croissantone';
    src: url('../polices/croissantone-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face { /* police menu 2*/
    font-family: 'kameron';
    src: url('../polices/kameron-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face { /* police menu 3*/
    font-family: 'dancing';
    src: url('../polices/dancing-script.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face { /* police menu 3*/
    font-family: 'worstveldsling';
    src: url('../polices/worstveldsling.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face { /* police menu 4*/
    font-family: 'kaushanscript';
    src: url('../polices/kaushanscript-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face { /* police menu 4*/
    font-family: 'typo_comics';
    src: url('../polices/typo_comics_light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* RESET*/

html {
    font-size: 62.5%;
}

#block_page {
    margin: 0 auto;
    padding: 0;
    max-width: 1500px;
    height: auto;
    color: rgb(0,0,0);
    background-color: rgb(255,255,255);
    font-family: 'robotoregular','Trebuchet MS', Arial, sans-serif;
    font-weight: normal;
}

/* haut de page : header logo*/

.logo {
    font-family: 'robotoregular';
    font-size: 10rem;
    color: var(--couleurTheme2);
    font-weight: bold;
    background-color: var(--couleurTheme);
    text-align: center;
    padding: 50px 0 58px;
    margin: 0;
    border-bottom: 2px solid rgb(161,193,129);
}

.logo a {
    color: var(--couleurTheme2);
	text-decoration: none;
}

/* bas de page : Footer */

footer ul {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 38px 0 40px 0;
    background-color: var(--couleurTheme);
    border-top: 2px solid rgb(161,193,129);
}

footer li {
    list-style-type: none;
}

footer a {
    font-family: 'montserrat';
    text-decoration: none;
    color: var(--couleurTheme2);
    font-size: 4.7rem;
    font-weight: normal;
    padding: 30px 40px;
}
/** Media queries */
/** Tablette */

@media (max-width: 1024px) {

    /* Main Tablette */
    /* haut de page : header logo*/

    .logo {
        font-size: 6em;
        height: 60px;
        padding: 40px 100px;
    }

    /* bas de page : Footer */

    footer ul {
       padding: 28px 0 30px 0;
    }

    footer a {
        font-size: 3em;
    }

}

/** Mobile */

@media (max-width: 700px) {

    /* Main mobile */

    .logo {
        font-size: 4.5em;
        height: 50px;
        padding: 30px 90px;
    }

    /* bas de page : Footer */

    footer ul {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    footer ul li {
        padding-bottom: 15px;
    }

    footer a {
        font-size: 2.5em;
    }

}