/* Menu 2 = "Le chic à la française" */

main {
    max-width: 1190px;
    color: rgb(0,0,0);
    background-color: rgb(255,245,254);
    /* Centrage */
    margin: 0 10.33% 0;
    text-align: center;
    /* Ombrage */
    box-shadow: 0 0 25px 5px rgb(224,224,224);
}

/* Grand titre */

.nom_restaurant h1 {
    font-family: 'robotoregular';
    font-size: 5.6rem;
    font-weight: bold;
    color: rgb(53,53,53);
    background-color: rgb(255,255,255);
    text-align: center;
    margin: 80px 0 20px;
}

.nom_restaurant h2 {
    font-family: 'croissantone';
    font-size: 6rem;
    font-weight: normal;
    background-image: linear-gradient(to right, #df871e, #8f5bfe);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
    padding-top: 175px;
    margin-top: 40px;
}

/* Sous-titres */

.entree_titre,.plats_titre,.dessert_titre {
    padding: 0 3%;
}

.entree_titre {
    color: rgb(198,116,18);
}

.plats_titre {
    color: rgb(165,103,153);
}

.dessert_titre {
    color: rgb(110,76,204);
}

.entree_titre h1, .plats_titre h1, .dessert_titre h1 {
    font-family: 'kameron';
    font-weight: bold;
    font-size: 3.2rem;
    margin-top: 150px;
}

.entree_titre h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 155px 0 55px;
}

.plats_titre h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 90px 0 50px;
}

.dessert_titre h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 90px 0 55px;
}

.entree_titre h1::before {
    content: "";
    display: inline-block;
    width: 346px;
    height: 25px;
    background-image: url(../images/trait-2.png);
    background-position: center;
    background-size: 100%;
    background-color: rgb(198,116,18);
}

.plats_titre h1::before {
    content: "";
    display: inline-block;
    width: 346px;
    height: 25px;
    background-image: url(../images/trait-2.png);
    background-size: 100%;
    background-position: center;
    background-color: rgb(165,103,153);
}

.dessert_titre h1::before {
    content: "";
    display: inline-block;
    width: 346px;
    height: 25px;
    background-image: url(../images/trait-2.png);
    background-size: 100%;
    background-position: center;
    background-color: rgb(110,76,204);
}

.entree_titre h1::after {
    content: "";
    display: inline-block;
    width: 346px;
    height: 25px;
    background-image: url(../images/trait-2-2.png);
    background-size: 100%;
    background-position: center;
    background-color: rgb(198,116,18);
    
}

.plats_titre h1::after {
    content: "";
    display: inline-block;
    width: 346px;
    height: 25px;
    background-image: url(../images/trait-2-2.png);
    background-position: center;
    background-size: 100%;
    background-color: rgb(165,103,153);
}

.dessert_titre h1::after {
    content: "";
    display: inline-block;
    width: 346px;
    height: 21px;
    background-image: url(../images/trait-2-2.png);
    background-size: 100%;
    background-position: center;
    background-color: rgb(110,76,204);
}

/*  Spécialités au choix et prix */

.entree_choix ul ,.plats_choix ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'kameron';
    font-size: 2.7rem;
    font-weight: normal;
    padding: 0 9% 0 12%;
}

.dessert_choix ul { /* sans flex car sans prix */
    font-family: 'kameron';
    font-size: 2.7rem;
    font-weight: normal;
    padding: 0 9% 0 12%;
}

/* sans flex car sans prix */

/* Formatage du flex */

ul, li, p {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section ul li { /*réglage de l'interligne*/
    margin-bottom: 25px;
}

section ul > li {
    text-align: left;
    flex-basis: 85%;
}

/* Prix */

.prix {
    flex-basis: 15%;
    font-family: 'kameron';
    font-weight: normal;
    font-size: 3.3rem;
}

.prix p {
    margin-left: 15px;
}

.sans_prix p:empty {
    display: none;
    }

/* Bas de page */

.main_page {
    padding-bottom: 250px;
    margin-bottom: 270px;
}

/** Media queries */
/** Tablette */

@media (max-width: 1024px) {

    /* Main Tablette */
    /* Coef (1024/1190)=0.86% */

    /* Grand titre */

    .nom_restaurant h1 {
        font-size: 3.8rem;
        margin: 54px 0 14px;
    }

    .nom_restaurant h2 {
        font-size: 4.5rem;
        padding-top: 129px;
        margin-top: 29px;
    }

    /* Sous-titres */

    .entree_titre,.plats_titre,.dessert_titre {
        padding: 0 5%;
    }

    .entree_titre h1, .plats_titre h1, .dessert_titre h1 {
        font-size: 2.7rem;
        margin-top: 129px;
    }

    .entree_titre h1 {
        margin: 133px 0 47px;
    }

    .plats_titre h1 {
        margin: 77px 0 43px;
    }

    .dessert_titre h1 {
        margin: 77px 0 47px;
    }

    .dessert_titre h1::before {
        width: 280px;
    }

    .dessert_titre h1::after {
        width: 280px;
    }

    /*  Spécialités au choix */

    .entree_choix ul ,.plats_choix ul, .dessert_choix ul {
        font-size: 2.3rem;
    }

    section ul > li {
        flex-basis: 79%;
    }

    /* Prix */

    .prix {
        flex-basis: 21%;
        font-size: 2.6rem;
    }

}

/** Mobile */

@media (max-width: 700px) {

    /* Main mobile */

    /* Grand titre */

    .nom_restaurant h1 {
        font-size: 3rem;
    }

    .nom_restaurant h2 {
        font-size: 3rem;
    }

    /* Sous-titres */

    .entree_titre h1::before, .plats_titre h1::before {
        height: 15px;
    }

    .dessert_titre h1::before {
        height: 5px;
    }

    .entree_titre h1::after, .plats_titre h1::after {
        height: 15px;
    }

    .dessert_titre h1::after {
        height: 5px;
    }

    /*  Spécialités au choix et prix */

    .entree_choix ul ,.plats_choix ul, .dessert_choix ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .entree_choix ul p ,.plats_choix ul p, .dessert_choix ul p {
        text-align: center;
    }

    section ul > li {
        flex-basis: auto;
    }

    /* Prix */

    .prix {
        flex-basis: auto;
    }
    
}