/* Menu 3 = "Le délice des papilles */

main {
    max-width: 1190px;
    color: rgb(0,0,0);
    background-color: rgb(237,239,239);
    /* Centrage */
    margin: 100 auto 0;
    text-align: center;
    /* Ombrage */
    box-shadow: 0 0 25px 5px rgb(224,224,224);
}

main header > h1 {
    padding-top: 160px;
}

/* Grand titre */

.nom_restaurant h1 {
    font-family: 'dancing';
    font-size: 10rem;
    font-weight: normal;
    background-image: linear-gradient(135deg, rgb(0,34,219), rgb(8,137,251));
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
}

/* Sous-titres */

.entree_titre,.plats_titre,.dessert_titre {
    padding-left: 11%;
    padding-right: 11%;
}

.entree_titre {
    color: rgb(0,0,0);
}

.plats_titre {
    color: rgb(0,0,0);
}

.dessert_titre {
    color: rgb(0,0,0);
}

.entree_titre h1, .plats_titre h1, .dessert_titre h1 {
    position: relative;
    font-family: 'worstveldsling';
    font-weight: bold;
    font-size: 5rem;
}

.entree_titre h1 {
    margin-top: 130px;
}

.plats_titre h1 {
    margin-top: 40px;
}

.dessert_titre h1 {
    margin-top: 35px;
}

.entree_titre h1::before {
    content: url(../images/trait-3.png);
    position: absolute;
    top: 5px;
    left: -10%;
    background-color: rgb(2,40,221);
}

.plats_titre h1::before {
    content: url(../images/trait-3.png);
    position: absolute;
    top: 5px;
    left: -10%;
    background-color: rgb(6,112,243);
}

.dessert_titre h1::before {
    content: url(../images/trait-3.png);
    position: absolute;
    top: 5px;
    left: -10%;
    background-color: rgb(34,157,249);
}

.entree_titre h1::after {
    content: url(../images/trait-3.png);
    position: absolute;
    top: 5px;
    right: -10%;
    background-color: rgb(2,40,221);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.plats_titre h1::after {
    content: url(../images/trait-3.png);
    position: absolute;
    top: 5px;
    right: -10%;
    background-color: rgb(6,112,243);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.dessert_titre h1::after {
    content: url(../images/trait-3.png);
    position: absolute;
    top: 5px;
    right: -10%;
    background-color: rgb(34,157,249);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/*  Spécialités au choix et prix */

.entree_choix ul ,.plats_choix ul, .dessert_choix ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
     font-family: 'worstveldsling';
    font-size: 4rem;
    font-weight: bold;
}

/* Formatage du flex */

ul, li, p {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section ul li { /*réglage de l'interligne*/
    margin-bottom: 10px;
}

/* Prix */

.prix {
    font-family: 'worstveldsling';
    font-weight: bold;
    font-size: 4.1rem;
}

/* Bas de page */

.main_page {
    margin-bottom: 200px;
}

.bas_de_page {
    padding-bottom: 300px;
}


/** Media queries */
/** Tablette */

@media (max-width: 1024px) {

    /* Main Tablette */

}

/** Mobile */

@media (max-width: 700px) {

/* Main mobile */

}