/* Menu 3 = "La note enchantée */


main {
    max-width: 1190px;
    color: rgb(61,19,25);
    background-color: rgb(252,223,219);
    /* Centrage */
    margin: 0 auto 0;
    padding: 0;
    text-align: center;
    /* Ombrage */
    box-shadow: 0 0 25px 5px rgb(224,224,224);
}

/* Grand titre */

.nom_restaurant h1 {
	font-family: 'robotoregular';
	font-size: 5.6rem;
	font-weight: bold;
	color: rgb(53,53,53);
	background-color: rgb(255,255,255);
	text-align: center;
	margin: 80px 0 40px;
}

.nom_restaurant i {
    font-size: 12.5rem;
    color: rgb(240,88,97);
    padding-top: 80px;
}

.nom_restaurant h2 {
    font-family: 'devonshire';
    font-weight: normal;
    font-size: 7.5rem;
    margin-top: 0;
}

/* Sous-titres */

.entree_titre,.plats_titre,.dessert_titre {
    padding: 0 10%;
}

.entree_titre h1, .plats_titre h1, .dessert_titre h1 {
    font-family: 'KGPrimary';
    font-weight: bold;
    font-size: 5rem;
}

.entree_titre h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0 35px;
}

.plats_titre h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 55px 0 35px;
}

.dessert_titre h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 85px 0 35px;
}

.entree_titre h1::before, .plats_titre h1::before, .dessert_titre h1::before {
    content: "";
    display: inline-block;
    width: 297px;
    height: 18px;
    background-image: url(../images/trait-1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.entree_titre h1::after, .plats_titre h1::after, .dessert_titre h1::after {
    content: "";
    display: inline-block;
    width: 297px;
    height: 18px;
    background-image: url(../images/trait-1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/*  Spécialités au choix et prix */

.entree_choix ul ,.plats_choix ul, .dessert_choix ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'KGPrimary';
    font-weight: normal;
    font-size: 3.3rem;
    padding: 0 0% 0 0%;
}

/* Formatage du flex */

ul, li, p {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section ul li { /*réglage de l'interligne*/
    margin-bottom: 28px;
}

section ul > li {
    text-align: left;
    flex-basis: 90%;
}


/* Prix */

.prix {
    flex-basis: 10%;
	font-family: KGPrimary;
    text-align: right;
    font-weight: bold;
    font-size: 3rem;
}

.prix p {
    margin-left: 15px;
}

/* Footer */

main footer {
    display: inline-flex;
    justify-content: center;
    padding: 80px 0 80px;
}

footer i {
    font-size: 7.5rem;
    color: rgb(240,88,97);
    padding: 0 20px 0 0;
}

main footer p {
    font-family: 'devonshire';
    font-size: 5.4rem;
    font-weight: normal;
    margin: 0 auto;
}

/* Bas de page */

.main_page {
    padding-bottom: 20px;
    margin-bottom: 270px;
}

/** Media queries */
/** Tablette */

@media (max-width: 1024px) {

    /* Main Tablette */

}

/** Mobile */

@media (max-width: 700px) {

/* Main mobile */



}