/* Menu 2 = "Le chic à la française" */

main {
    max-width: 1190px;
    color: rgb(0,0,0);
    background-color: rgb(255,245,254);
    /* Centrage */
    margin: 100 auto 0;
    text-align: center;
    /* Ombrage */
    box-shadow: 0 0 25px 5px rgb(224,224,224);
}

/* Grand titre */

.nom_restaurant h1 {
    font-family: 'croissantone';
    font-size: 6rem;
    padding-top: 175px;
    font-weight: normal;
    background-image: linear-gradient(to right, #df871e, #8f5bfe);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
}

/* Sous-titres */

.entree_titre,.plats_titre,.dessert_titre {
    padding-left: 11%;
    padding-right: 11%;
}

.entree_titre {
    color: rgb(198,116,18);
}

.plats_titre {
    color: rgb(165,103,153);
}

.dessert_titre {
    color: rgb(110,76,204);
}

.entree_titre h1, .plats_titre h1, .dessert_titre h1 {
    position: relative;
    font-family: 'kameron';
    font-weight: bold;
    font-size: 3.2rem;
    margin-top: 150px;
}

.entree_titre h1 {
    margin: 155px 0 55px;
}

.plats_titre h1 {
    margin: 100px 0 55px;
}

.dessert_titre h1 {
    margin: 87px 0 55px;
}

.entree_titre h1::before {
    content: url(../images/trait-2.png);
    position: absolute;
    top: 5px;
    left: -10%;
    background-color: rgb(198,116,18);
}

.plats_titre h1::before {
    content: url(../images/trait-2.png);
    position: absolute;
    top: 5px;
    left: -10%;
    background-color: rgb(165,103,153);
}

.dessert_titre h1::before {
    content: url(../images/trait-2.png);
    position: absolute;
    top: 5px;
    left: -10%;
    background-color: rgb(110,76,204);
}

.entree_titre h1::after {
    content: url(../images/trait-2.png);
    position: absolute;
    top: 5px;
    right: -10%;
    background-color: rgb(198,116,18);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.plats_titre h1::after {
    content: url(../images/trait-2.png);
    position: absolute;
    top: 5px;
    right: -10%;
    background-color: rgb(165,103,153);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.dessert_titre h1::after {
    content: url(../images/trait-2.png);
    position: absolute;
    top: 5px;
    right: -10%;
    background-color: rgb(110,76,204);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/*  Spécialités au choix et prix */

.entree_choix ul ,.plats_choix ul, .dessert_choix ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'kameron';
    font-size: 2.9rem;
    font-weight: normal;
}

/* Formatage du flex */

ul, li, p {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section ul li { /*réglage de l'interligne*/
    margin-bottom: 25px;
}

/* Prix */

.prix {
    font-family: 'kameron';
    font-weight: normal;
    font-size: 3.3rem;
}

/* Bas de page */

.bas_de_page {
    padding-bottom: 250px;
    margin-bottom: 200px;
}


/** Media queries */
/** Tablette */

@media (max-width: 1024px) {

    /* Main Tablette */

}

/** Mobile */

@media (max-width: 700px) {

/* Main mobile */

}