/* Menu 3 = "La note enchantée */


main {
    max-width: 1190px;
    color: rgb(61,19,25);
    background-color: rgb(252,223,219);
    /* Centrage */
    margin: 0 10.33% 0;
    padding: 0;
    text-align: center;
    /* Ombrage */
    box-shadow: 0 0 25px 5px rgb(224,224,224);
}

/* Grand titre */

aside.nom_restaurant h2 {
	font-family: 'robotoregular';
	font-size: 5.6rem;
	font-weight: bold;
	color: rgb(53,53,53);
	background-color: rgb(255,255,255);
	text-align: center;
	margin: 80px 0 40px;
}

.nom_restaurant i {
    font-size: 12.5rem;
    color: rgb(240,88,97);
    padding-top: 80px;
}

header.nom_restaurant h1 {
    font-family: 'devonshire';
    font-weight: normal;
    font-size: 7.5rem;
    line-height: 10rem;
    margin: 0;
}

/* Sous-titres */

.entree_titre,.plats_titre,.dessert_titre {
    padding: 0 10%;
}

.entree_titre h2, .plats_titre h2, .dessert_titre h2 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'KGPrimary';
    font-weight: bold;
    font-size: 5rem;
}

.entree_titre h2 {
    margin: 60px 0 35px;
}

.plats_titre h2 {
    margin: 55px 0 35px;
}

.dessert_titre h2 {
    margin: 85px 0 35px;
}

.entree_titre h2::before, .plats_titre h2::before, .dessert_titre h2::before {
    content: "";
    display: inline-block;
    width: 297px;
    height: 18px;
    background-image: url(../images/trait-1.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.entree_titre h2::after, .plats_titre h2::after, .dessert_titre h2::after {
    content: "";
    display: inline-block;
    width: 297px;
    height: 18px;
    background-image: url(../images/trait-1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* Animation des sous-titres (entree plats dessert) */

.entree_titre h2 .animation_titre, .plats_titre h2 .animation_titre, .dessert_titre h2 .animation_titre {
    position: absolute;
    bottom: -6px;
    height: auto;
    left: 35%;
    width: 28.5%;
    border-bottom: 4px solid var(--couleurTheme2);
    transform-origin: left;
    transform: scaleX(0);
    -webkit-transition: transform 1000ms cubic-bezier(.32,0,.07,1);
    -moz-transition: transform 1000ms cubic-bezier(.32,0,.07,1);
    -ms-transition: transform 1000ms cubic-bezier(.32,0,.07,1);
    -o-transition: transform 1000ms cubic-bezier(.32,0,.07,1);
    transition: transform 1000ms cubic-bezier(.32,0,.07,1);
}

.entree_titre h2:hover .animation_titre, .plats_titre h2:hover .animation_titre, .dessert_titre h2:hover .animation_titre {
    transform: scaleX(1);
}

/*  Spécialités au choix et prix */

.entree_choix ul ,.plats_choix ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'KGPrimary';
    font-weight: normal;
    font-size: 3.3rem;
    padding: 0 0% 0 0%;
}

.dessert_choix ul { /* sans flex car sans prix */
    font-family: 'KGPrimary';
    font-weight: normal;
    font-size: 3.3rem;
    padding: 0 0% 0 0%;
}

/* Formatage du flex */

article h3 {
    font-size: 3.3rem;
    font-weight: normal;
}

 article ul, li, p, h3 {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section ul li { /*réglage de l'interligne*/
    margin-bottom: 28px;
}

section ul > li {
    text-align: left;
    flex-basis: 88.5%;
}


/* Prix */

.prix {
    flex-basis: 11.5%;
	font-family: KGPrimary;
    text-align: right;
    font-weight: bold;
    font-size: 3rem;
}

.prix p {
    margin-left: 15px;
}

.sans_prix p:empty {
    display: none;
}

/* Footer */

main footer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0 80px;
}

footer i {
    font-size: 7.5rem;
    color: rgb(240,88,97);
    padding: 0 20px 0 0;
}

main footer p {
    font-family: 'devonshire';
    font-size: 5.4rem;
    font-weight: normal;
    margin: 0 auto;
}

/* Bas de page */

.main_page {
    padding-bottom: 20px;
    margin-bottom: 270px;
}

/** Media queries */
/** Tablette */

@media (max-width: 1024px) {

    /* Main Tablette */
    /* Coef (1024/1190)=0.86% */

    /* Grand titre */

    aside.nom_restaurant h2 {
        font-size: 3.8rem;
        margin: 54px 0 14px;
    }

    .nom_restaurant i {
        font-size: 11rem;
        padding-top: 69px;
    }

    header.nom_restaurant h1 {
        font-size: 6.5rem;
    }

    /* Sous-titres */

    .entree_titre,.plats_titre,.dessert_titre {
        padding: 0 5%;
    }

    .entree_titre h2, .plats_titre h2, .dessert_titre h2 {
        font-size: 4.3rem;
    }

    .entree_titre h2 {
        margin: 52px 10px 30px;
    }

    .plats_titre h2 {
        margin: 55px 0 30px;
    }

    .dessert_titre h2 {
        margin: 73px 0 30px;
    }

    .entree_titre h2::before {
        width: 180px;
    }

    .entree_titre h2::after {
        width: 180px;
    }

    /*  Spécialités au choix et prix */

    .entree_choix ul ,.plats_choix ul, .dessert_choix ul {
        font-size: 2.8rem;
    }

    section ul > li {
        flex-basis: 85%;
    }

    /* Prix */

    .prix {
        flex-basis: 15%;
        font-size: 2.6rem;
    }

    /* Footer */

    main footer {
        padding: 69px 0 69px;
    }

    footer i {
        font-size: 6.4rem;
    }

    main footer p {
        font-size: 4.6rem;
    }

}

/** Mobile */

@media (max-width: 700px) {

/* Main mobile */

    /* Grand titre */

    aside.nom_restaurant h2 {
        font-size: 3rem;
    }

    .nom_restaurant i {
        font-size: 5.5rem;
        padding-top: 69px;
    }

    header.nom_restaurant h1 {
        font-size: 3.3rem;
    }

    /* Sous-titres */


    .entree_titre h2 {
        align-items: flex-end;
    }
    
    .entree_choix ul ,.plats_choix ul, .dessert_choix ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .entree_choix ul h3 , .plats_choix ul h3, .dessert_choix ul h3 {
        text-align: center;
    }

    section ul > li {
        flex-basis: auto;
    }

    /* Prix */

    .prix {
        flex-basis: auto;
    }

    .prix p {
        margin: 0 0 45px 0;
    }

    /* Footer */

    footer i {
        font-size: 4.1rem;
        padding: 0 10px 0 0;
        margin-left: 20px;
    }

    main footer p {
        font-size: 3rem;
    }

}