/* Page d'accueil */
/* corps de page (main) */

main {
    padding: 0 7%;
}

/* Gallery : flex */

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.gallery li {
    list-style-type: none;
    max-width: 540px;
    width: 100%;
    text-align: center;
    margin: 100px 10px 0;
    box-shadow: 0 0 25px  5px rgb(224,224,224);
}

.gallery a {
    text-decoration: none;
}

.gallery a div {
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

.gallery a:hover div {
    -moz-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    -o-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
    opacity: 0.5;
}

/* Menu 1 ************/

#menu1 {
    background-color: rgb(252,223,219);
}

#menu1 i {
    font-size: 8rem;
    color: rgb(240,88,97);
    margin-top: 255px;
}

#menu1 h1 {
    font-family: 'devonshire';
    font-weight: normal;
    font-size: 5rem;
    color: rgb(61,19,25);
    line-height: 6rem;
    margin: 0;
}

#menu1 h2 {
    text-transform: uppercase;
    font-family: 'KGPrimary';
    font-weight: normal;
    font-size: 7.5rem;
    color: rgb(61,19,25);
    margin: 40px 0 245px;
}

/* Menu 2 ************/

#menu2 {
    background-color: rgb(255,245,254);
}

#menu2 h1 {
    font-family: 'croissantone';
    font-weight: normal;
    font-size: 3.5rem;
    background-image: linear-gradient(to right, #df871e, #8f5bfe);
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent;
    margin: 300px 0 0;
}

#menu2 h2 {
    text-transform: capitalize;
    font-family: 'kameron';
    font-weight: bold;
    font-size: 7rem;
    color: rgb(198,116,18);
    margin-top: 30px;
    padding-bottom: 240px;
}

/* Menu 3 ************/

#menu3 {
    background-color: rgb(237,239,239);
}

#menu3 h1 {
    font-family: 'dancing';
    font-weight: normal;
    font-size: 5.5rem;
    background-image: linear-gradient(135deg, rgb(0,34,219), rgb(0,34,219), rgb(8,137,251), rgb(8,137,251));
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
    margin: 270px 0 0;
}

#menu3 h2 {
    text-transform: capitalize;
    font-family: 'worstveldsling';
    font-weight: bold;
    font-size: 8rem;
    color: rgb(8,137,251);
    margin: 50px 0 280px;
}

/* Menu 4 ************/

#menu4 {
    background-color: rgb(253,255,253);
}

#menu4 h1 {
    font-family: 'kaushanscript';
    font-size: 5rem;
    font-weight: normal;
    background-image: linear-gradient(135deg, rgb(61,146,58), rgb(190,255,127));
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
    margin: 280px 0 0;
}

#menu4 h2 {
    text-transform: capitalize;
    font-family: 'typo_comics';
    font-weight: normal;
    font-size: 5.5rem;
    color: rgb(61,146,58);
    margin: 35px 0 280px;
}

/* à venir : aside */

.soon p {
    max-width: 655px;
    width: 100%;
    font-family: 'montserrat';
    font-size: 5.5rem;
    font-weight: normal;
    text-transform: capitalize;
    text-align: center;
    background-color: var(--couleurTheme);
    border-radius: 25px;
    padding: 25px 0;
    margin: 95px auto 223px;
}

.soon a {
    text-decoration: none;
    color: var(--couleurTheme2);
}

/** Media queries */
/** Tablette */

@media (max-width: 1024px) { /* Coef (1024/1190=0.86%) */

    /* Main Tablette */

    main {
        padding: 0 4.8%;
    }

    /* Gallery */

    .gallery li {
        max-width: 527px;
        width: 100%;
    }

    /* Menu 1 ************/

    #menu1 i {
        font-size: 6.9rem;
        margin-top: 219px;
    }

    #menu1 h1 {
        font-size: 4.3rem;
    }

    #menu1 h2 {
        font-size: 6.4rem;
        margin: 34px 0 211px;
    }

    /* Menu 2 ************/

    #menu2 h1 {
        font-size: 3rem;
        margin: 258px 0 0;
    }

    #menu2 h2 {
        font-size: 6rem;
        margin-top: 26px;
        padding-bottom: 206px;
    }

    /* Menu 3 ************/

    #menu3 h1 {
        font-size: 4.7rem;
        margin: 232px 0 0;

    }

    #menu3 h2 {
        font-size: 6.9rem;
        margin: 43px 0 241px;
    }

    /* Menu 4 ************/

    #menu4 h1 {
        font-size: 4.3rem;
        margin: 241px 0 0;
    }

    #menu4 h2 {
        font-size: 4.7rem;
        margin: 30px 0 241px;
    }

    /* à venir : aside */

    .soon p {
        max-width: 563px;
        font-size: 4.7rem;
        padding: 21px 0;
        margin: 82px auto 192px;
        }

}

/** Mobile */

@media (max-width: 700px) {

    /* Main mobile */

    main {
        padding: 0 3.2%;
    }

    /* Gallery */

    .gallery li {
        max-width: 450px;
        width: 100%;
    }

    /* Menu 1 ************/

    #menu1 i {
        margin-top: 117px;
    }

    #menu1 h2 {
        margin: 27px 0 112px;
    }

    /* Menu 2 ************/

    #menu2 h1 {
        margin: 138px 0 0;
    }

    #menu2 h2 {
        padding-bottom: 110px;
    }

    /* Menu 3 ************/

    #menu3 h1 {
        margin: 124px 0 0;

    }

    #menu3 h2 {
        margin: 34px 0 129px;
    }

    /* Menu 4 ************/

    #menu4 h1 {
        margin: 129px 0 0;
    }

    #menu4 h2 {
        margin: 24px 0 129px;
    }

    /* à venir : aside */

    .soon p {
        max-width: 301px;
        font-size: 2.53rem;
        padding: 12px 0;
        margin: 44px auto 143px;
    }

}