/* Page d'accueil */
/* corps de page (main) */

main {
    padding: 0 7%;
}

/* Gallery : flex */

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.gallery li {
    list-style-type: none;
    max-width: 540px;
    width: 100%;
    text-align: center;
    margin: 100px 10px 0;
    box-shadow: 0 0 25px  5px rgb(224,224,224);
}

.gallery a {
    text-decoration: none;
}

.gallery a div {
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

.gallery a:hover div {
    -moz-transform: scale(1.25);
    -webkit-transform: scale(1.25);
    -o-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
    opacity: 0.5;
}

/* Menu 1 ************/

#menu1 {
    background-color: rgb(252,223,219);
}

#menu1 i {
    font-size: 8rem;
    color: rgb(240,88,97);
    margin-top: 255px;
}

#menu1 h1 {
    font-family: 'devonshire';
    font-weight: normal;
    font-size: 5rem;
    color: rgb(61,19,25);
    line-height: 6rem;
    margin: 0;
}

#menu1 h2 {
    text-transform: uppercase;
    font-family: 'KGPrimary';
    font-weight: normal;
    font-size: 7.5rem;
    color: rgb(61,19,25);
    margin-top: 40px;
    padding-bottom: 190px;
}

/* Menu 2 ************/

#menu2 {
    background-color: rgb(255,245,254);
}

#menu2 h1 {
    font-family: 'croissantone';
    font-weight: normal;
    font-size: 3.5rem;
    background-image: linear-gradient(to right, #df871e, #8f5bfe);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
    margin: 300px 0 0;
}

#menu2 h2 {
    text-transform: capitalize;
    font-family: 'kameron';
    font-weight: bold;
    font-size: 7rem;
    color: rgb(198,116,18);
    margin-top: 30px;
    padding-bottom: 190px;
}

/* Menu 3 ************/

#menu3 {
    background-color: rgb(237,239,239);
}

#menu3 h1 {
    font-family: 'dancing';
    font-weight: normal;
    font-size: 5.5rem;
    background-image: linear-gradient(135deg, rgb(0,34,219), rgb(0,34,219), rgb(8,137,251), rgb(8,137,251));
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
    padding: 270px 0 0;
}

#menu3 h2 {
    text-transform: capitalize;
    font-family: 'worstveldsling';
    font-weight: bold;
    font-size: 8rem;
    color: rgb(8,137,251);
    margin-top: 50px;
    padding-bottom: 210px;
}

/* Menu 4 ************/

#menu4 {
    background-color: rgb(253,255,253);
}

#menu4 h1 {
    font-family: 'kaushanscript';
    font-size: 5rem;
    font-weight: normal;
    background-image: linear-gradient(135deg, rgb(61,146,58), rgb(190,255,127));
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
    padding: 290px 0 0;
}

#menu4 h2 {
    text-transform: capitalize;
    font-family: 'typo_comics';
    font-weight: normal;
    font-size: 5.5rem;
    color: rgb(61,146,58);
    margin-top: 35px;
    padding-bottom: 210px;
}

/* à venir : aside */

.soon p {
    max-width: 655px;
    width: 100%;
    font-family: 'montserrat';
    font-size: 5.5rem;
    font-weight: normal;
    text-transform: capitalize;
    text-align: center;
    background-color: var(--couleurTheme);
    border-radius: 25px;
    padding: 25px 0;
    margin: 95px auto 223px;
}

.soon a {
    text-decoration: none;
    color: var(--couleurTheme2);
}

/** Media queries */
/** Tablette */

@media (max-width: 1024px) {

    /* Main Tablette */

    /* Gallery */

    .gallery li {
        width: 40%;
    }

    /* Menu 1 ************/

    #menu1 h1 {
        font-size: 2rem;
    }

    #menu1 i {
        font-size: 3.2rem;
        padding-top: 155px;
    }

    #menu1 h2 {
        font-size: 3rem;
        padding-bottom: 170px;
    }

    /* Menu 2 ************/

    #menu2 h1 {
        font-size: 1.4rem;
        margin: 200px 0 0;
    }

    #menu2 h2 {
        font-size: 2.8rem;
        padding-bottom: 170px;
    }

    /* Menu 3 ************/

    #menu3 h1 {
        font-size: 2.2rem;
        padding: 165px 0 0;

    }

    #menu3 h2 {
        font-size: 3.2rem;
        padding-bottom: 190px;
    }

    /* Menu 4 ************/

    #menu4 h1 {
        font-size: 2rem;
        padding: 175px 0 0;
    }

    #menu4 h2 {
        font-size: 2.2rem;
        padding-bottom: 180px;
    }

    /* à venir : aside */

    .soon p {
        font-size: 3.5rem;
        max-width: 415px;
    }

}

/** Mobile */

@media (max-width: 700px) {

/* Main mobile */

    /* Gallery */

    .gallery li {
        width: 80%;
    }

    /* à venir : aside */

    .soon p {
        font-size: 2.5rem;
        max-width: 300px;
    }

}