/* corps de page (main) : gallery */

main {
    width: 100%;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.gallery li {
    list-style-type: none;
    max-width: 38.3%;
}

.gallery img {
    max-width: 100%;
    box-shadow: 0 0 25px rgb(224,224,224);
    margin-top: 95px;
}

/* à venir : aside */

.soon p {
    max-width: 45%;
    font-size: 5.4rem;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    background-color: var(--couleurTheme);
    border-radius: 25px;
    padding: 24px 0;
    margin: 85px auto 205px auto;
}

.soon a {
    text-decoration: none;
    color: var(--couleurTheme2);
}

/** Media queries */
/** Tablette */

@media (max-width: 1024px) {

    /* Main Tablette */

}

/** Mobile */

@media (max-width: 700px) {

/* Main mobile */



}