/** Définition des polices personnalisées */

@font-face {
    font-family: 'robotoregular';
    src: url('polices/Roboto-Regular-webfont.eot');
    src: url('polices/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/Roboto-Regular-webfont.woff') format('woff'),
         url('polices/Roboto-Regular-webfont.ttf') format('truetype'),
         url('polices/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('polices/Roboto-Light-webfont.eot');
    src: url('polices/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/Roboto-Light-webfont.woff') format('woff'),
         url('polices/Roboto-Light-webfont.ttf') format('truetype'),
         url('polices/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium';
    src: url('polices/Roboto-Medium-webfont.eot');
    src: url('polices/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/Roboto-Medium-webfont.woff') format('woff'),
         url('polices/Roboto-Medium-webfont.ttf') format('truetype'),
         url('polices/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin';
    src: url('polices/Roboto-Thin-webfont.eot');
    src: url('polices/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/Roboto-Thin-webfont.woff') format('woff'),
         url('polices/Roboto-Thin-webfont.ttf') format('truetype'),
         url('polices/Roboto-Thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;
}

/** Couleurs générales du thème */

:root {
	--couleurTheme : rgb(87,156,135); /* background-color header and footer */
	--couleurTheme2 : rgb(253,203,70); /* police header and footer */
}

/** RESET */

html {
    font-size: 62.5%;
}

#block_page {
    margin: 0;
    padding: 0;
    max-width: 1500px;
    height: auto;
    color: rgb(0,0,0);
    background-color: rgb(255,255,255);
	font-family: robotoregular,'Trebuchet MS', Arial, sans-serif;
    font-weight: normal;
}

.logo {
    font-size: 7rem;
    color: var(--couleurTheme2);
    background-color: var(--couleurTheme);
    text-align: center;
    padding: 86px 0;
    margin: 0;
}